<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link href="index.css" rel="stylesheet"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div id="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 py-3 px-lg-5 border bg-light" id="section">
          <div class="row justify-content-center"  style="padding:15px;">
          <h1> Bienvenido a la página de datos administrativos </h1>
        </div>
        <div class="form-group col-md-8" style="padding:15px;">

          <h3>Cantidad de casos tareas y procesos</h3>
          &nbsp;&nbsp;
          <canvas id="myChart" width="300" height="300"></canvas>
                            </div>
                              <div class="form-group col-md-8" style="padding:15px;">
                              <h3>Cantidad de casos según su estado</h3>
                                        &nbsp;&nbsp;
          <canvas id="myChart2" width="300" height="300"></canvas>
          </div>
          <div class="form-group col-md-8" style="padding:15px;">
                                      <h3>Instancias de ejecucion sobre cada tarea</h3>
                                                &nbsp;&nbsp;
        <canvas id="myChart3" width="300" height="300"></canvas>
</div>
<div class="form-group col-md-8" style="padding:15px;">
                            <h3>Instancias de ejecucion sobre cada tarea</h3>
                                      &nbsp;&nbsp;
<canvas id="myChart4" width="300" height="300"></canvas>
</div>
        </div>

        </div>
        </div>


<script>

var ctx = document.getElementById('myChart');
ctx.height = 550;
ctx.width = 550;
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
      labels: ['Casos', 'Tareas', 'Procesos'],
      datasets: [{
          label: '',
          data: [{{casos}},{{tareas}},{{procesos}}],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
      }]
  },
  options: {
        legend: { display: false},
        responsive:false,
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero: true
              }
          }]
      }

  }
});
</script>

<script>

var ctx = document.getElementById('myChart2');
ctx.height = 550;
ctx.width = 550;
var myChart = new Chart(ctx, {
  type: 'pie',
  data: {
      labels: ['Iniciadas', 'Suspendidas', 'Canceladas','Abortadas','Completadas','Finalizadas en error'],
      datasets: [{
          label: 'Cantidad de casos según su estado',
          data: [{{estadosCase['started']}},{{estadosCase['suspended']}},{{estadosCase['cancelled']}},{{estadosCase['aborted']}},{{estadosCase['completed']}},{{estadosCase['error']}}],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
      }]
  },
  options: {
        responsive:false,
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero: true
              }
          }]
      }

  }
});
</script>

<script>

var ctx = document.getElementById('myChart3');
ctx.height = 550;
ctx.width = 550;
var myChart = new Chart(ctx, {
  type: 'horizontalBar',
  data: {
      labels: [{%for tarea, x in tareasEjecutandose %}
      '{{x}}'{%if not loop.last %},{% endif %}
      {% endfor%}],
      datasets: [{
          label: '',
          data: [{%for tarea, x in cantidadTareasEjecutandose %}
          {{x}}{%if not loop.last %},{% endif %}
          {% endfor%}],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
      }]
  },
  options: {
    legend: { display: false},
        responsive:false,
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero: true
              }
          }]
      }

  }
});
</script>


<script>

var ctx = document.getElementById('myChart4');
ctx.height = 550;
ctx.width = 550;
var myChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
      labels: [{%for tarea, x in estadosLlamadas %}
      '{{x.estado}}'{%if not loop.last %},{% endif %}
      {% endfor%}],
      datasets: [{
          label: '',
          data: [{%for tarea, x in estadosLlamadas %}
          {{x.cantidad}}{%if not loop.last %},{% endif %}
          {% endfor%}],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
      }]
  },
  options: {
    legend: { display: false},
        responsive:false,
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero: true
              }
          }]
      }

  }
});
</script>

  </html>
